security:
    # https://symfony.com/doc/current/security.html#registering-the-user-hashing-passwords
    password_hashers:
        Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface: 'auto'

    # https://symfony.com/doc/current/security.html#loading-the-user-the-user-provider
    providers:
        # ICI : On dit à Symfony de chercher les utilisateurs dans l'entité Respo via le champ 'mail'
        app_user_provider:
            entity:
                class: App\Entity\Respo
                property: mail

    firewalls:
        dev:
            pattern: ^/(_profiler|_wdt|assets|build)/
            security: false
        main:
            lazy: true
            provider: app_user_provider # On lie le firewall au provider défini au-dessus

            # Configuration pour le formulaire de connexion
            form_login:
                login_path: app_login  # La route vers la page de login (à créer)
                check_path: app_login  # La route qui traite le formulaire
                enable_csrf: true
            
            # Configuration de la déconnexion
            logout:
                path: app_logout
                # where to redirect after logout
                # target: app_any_route

            # Activate different ways to authenticate:
            # https://symfony.com/doc/current/security.html#the-firewall

            # https://symfony.com/doc/current/security/impersonating_user.html
            # switch_user: true

    # Note: Only the *first* matching rule is applied
    access_control:
        # - { path: ^/admin, roles: ROLE_ADMIN }
        # - { path: ^/profile, roles: ROLE_USER }

when@test:
    security:
        password_hashers:
            # Password hashers are resource-intensive by design to ensure security.
            # In tests, it's safe to reduce their cost to improve performance.
            Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface:
                algorithm: auto
                cost: 4 # Lowest possible value for bcrypt
                time_cost: 3 # Lowest possible value for argon
                memory_cost: 10 # Lowest possible value for argon