<ul>
    <li><a href="#">info</a></li>
    <li><a href="{{ path('app_stand') }}">stand</a></li>
    <li><a href="{{ path('app_home') }}">accueil</a></li>
    <li><a href="#">militant</a></li>
    <li><a href="#">deconnexion</a></li>
</ul>