<ul>
    <li><a href="{{ path('app_stand') }}">stand</a></li>
    <li><a href="{{ path('app_home') }}">accueil</a></li>
    <li><a href="{{ path('app_militant') }}">militant</a></li>
    <li><a href="{{ path('app_logout') }}">deconnexion</a></li>
</ul>

