<nav>
    <ul>
        <li><a href="#">info</a></li>
        <li><a href="#">stand</a></li>
        <li><a href="#">accueil</a></li>
        <li><a href="#">militant</a></li>
        <li><a href="#">deconnexion</a></li>
    </ul>
</nav>