<nav>
    <h1>Dashboard</h1>
    <ul>
        <li>Faep :{{faep}}</li>
        <li>Uni :{{uni}}</li>
        <li>UE: {{ue}}</li>
        <li>Unef: {{unef}}</li>
    </ul>
    <a href="#">map</a>
</nav>