<nav>
    <h1>Dashboard</h1>
    <ul>
        <li>Faep : {{stats.totalFaep}}</li>
        <li>Uni : {{stats.totalUni}} </li>
        <li>UE : {{stats.totalUe}}</li>
        <li>Unef : {{stats.totalUnef}} </li>
    </ul>
    <a href="#">militant</a>
    <a href="#">map</a>
</nav>