{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
    {% include 'partials/_navbar.html.twig' %}
    <meta http-equiv="refresh" content="60">
    <article>
        <div>   
            <h1>Militants disponibles</h1>
            <div>
            
            <div>
        
        </div>
    </article>
{% endblock %}
