{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
    {% include 'partials/_navbar.html.twig' %}
    <article class="split-view">
        {# Colonne de Gauche #}
        <div class="split-column main-content">
            {% include 'partials/_militant.html.twig' %}
        </div>

        {# Colonne de Droite #}
        <div class="split-column sidebar">
            {% include 'partials/_polemilitant.html.twig' %}
        </div>
    </article>
    <meta http-equiv="refresh" content="60">
   
{% endblock %}